@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: navy;
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    background-color: navy;
    color: white;
}

.header-name {
    cursor: pointer;
    font-size: 40px;
    color: black;
    font-family: 'Montez', cursive;
    background-color: navy;
    color: white;
}

.header-nav-links {
    list-style-type: none;
}

.header-nav-links li {
    display: inline-block;
    padding: 0px 40px;
}

.header-nav-links li a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.header-nav-links li a:hover {
    color: lightcoral;
}

/* Home */

.home-container {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 100%;
}

.home-text-container {
    color: black;
    height: 500px;
    width: 40%; 
    display: flex;
    justify-content: center;  
}

.home-image-container {
    height: 500px;
    overflow: hidden;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-text h1 {
    font-size: 64px;
}

.home-text p {
    font-size: 32px;
}

.home-image {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.home-links-container {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-links {
    font-size: 25px;
    background-color: navy;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.home-links:hover  {
    background-color: lightblue;
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: black;
}

/* About */

.about-outer-container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding-top: 100px;
    overflow: hidden;
}

.about-image{
    box-shadow: 5px 0.8rem 1rem rgb(0 0 0 / 70%);
    height: 300px;
    width: 30%;
    object-fit: cover;
}

.about-container{
    color: black;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;    
}

/* Skills */

.skills-outer-container {
    padding-top: 100px;
    width: 100%;
    height: 700px;
}
.skills-outer-container h1{
    color: black;
    text-align: center;
}

.skills-container {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    justify-content: space-around;
}

.skill-container {
    text-align: center;
    margin-top: 50px;
    width: 25%;
    height: 450px;
    border: 2px solid navy;
    padding: 10px;
    border-radius: 10px;
}

.skill-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    row-gap: 25px;
    width: 100%;
    align-items: flex-start;
    margin-top: 20px;
}

.skill-table div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar {
    height: 30px;
}

.skill-bar {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(119, 119, 247);
}

.skilled-bar-html {
    background-color: navy;
    height: 10px;
    width: 90%;
    border-radius: 5px;
}

.skilled-bar-css {
    background-color: navy;
    height: 10px;
    width: 70%;
    border-radius: 5px;
}

.skilled-bar-js {
    background-color: navy;
    height: 10px;
    width: 75%;
    border-radius: 5px;
}

.skilled-bar-react {
    background-color: navy;
    height: 10px;
    width: 70%;
    border-radius: 5px;
}

/* Projects */

.projects-container {
    padding-top: 100px;
    width: 100%;
    height: 1450px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projects-cred-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container{
    margin-top: 50px;
    height: 250px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    border: 0.5px navy solid;
    box-shadow: 5px 0.8rem 1rem rgb(0 0 0 / 70%);
}

.project-image {
    object-fit: cover;
    width: 50%;
    height: 250px;
}

.project-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    padding-left: 5px;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.project-links a {
    height: 30px;
    width: 25%;
    border-radius: 5px;
    padding: 5px 0px;
    cursor: pointer;
    background-color: navy;
    color: white;
}

.project-links a:hover {
    transform: scale(1.2);
    transition-duration:0.5s;
    background-color: lightblue;
    color: black;
}

/* Contact */

.contact-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 700px;
}

.section-subtitle {
    margin-top: 30px;
}

.contact-inner-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    height: 300px;
}

.contact-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10px ;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.contact-label {
    font-size: 20px;
    padding-left: 10px ;
    background-color: navy;
    color:  white;
}
.contact-input {
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: navy;
    border: navy;
    outline: none;
    color: white;
    font-size: 20px;
}

.contact-form-button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

.footer-container{
    background-color: navy;
    text-align: center;
    height: 50px;
    color: white;
    padding-top: 10px;
}

@media (max-width: 500px){

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: lightgrey;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
        align-items: flex-start;
    }

    .header-name {
        font-size: 20px;
    }

    .header-nav-links:active {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-nav-links li {
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }

    .header-nav-links li a {
        font-size: 15px;
    }

    .toggle-button {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: navy;
    }

    .toggle-button-bar {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 5px;
    }

    .home-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .home-image-container {
        height: 350px;
        overflow: hidden;
        width: 80%;
        border-radius: 50%;
    }

    .home-text-container {
        width: 80%;
    }

    .home-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .home-text h1 {
        font-size: 24px;
    }

    .home-text p {
        font-size: 16px;
    }

    .home-image {
        object-fit: cover;
        object-position: top;
        height: 250px;
        width: 250px;
    }

    .home-links-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .home-links {
        font-size: 12px;
        background-color: navy;
        color: white;
        padding: 10px;
        border-radius: 8px;
    }

    .about-outer-container {
        display: flex;
        flex-direction: column-reverse;
        height: 800px;
        align-content: space-around;
        margin-top: 10px;
    }

    .about-image{
        box-shadow: 5px 0.8rem 1rem rgb(0 0 0 / 70%);
        height: 270px;
        width: 80%;
        object-fit: cover;
    }

    .about-container{
        color: black;
        width: 80%;
        height: 400px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;    
    }

    .skills-outer-container {
        padding-top: 100px;
        height: 1145px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 1000px;
        justify-content: center;
        align-items: center;
        
    }

    .skill-container {
        text-align: center;
        margin-top: 50px;
        width: 100%;
        height: 450px;
        border: 2px solid navy;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 5px 0.8rem 1rem rgb(0 0 0 / 70%);
    }

    .projects-container {
        padding-top: 100px;
    }

    .project-container {
        width: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    .project-image {
        object-fit: cover;
        padding: 0px;
        margin-top: 0px;
        height: 156px;
        width: 100%;
    }

    .project-inner-container {
        width: 100%;
        height: 250px;
    }

    .project-inner-container h3 {
        font-size: 14px;
    }

    .project-inner-container p {
        font-size: 10px;
    }

    .project-links a {
        height: 20px;
        border-radius: 3px;
        font-size: 7px;
        width: 30%;
    }

    .contact-container {
        display: flex;
        align-content: center;
        height: 680px;
        margin-top: 0px;
    }

    .contact-inner-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        height: 400px;
    }

    .contact-info-container {
        margin-top: 20px;
        width: 80%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .contact-form {
        width: 80%;
    }

    .contact-content {
        margin-top: 10px;
    }

    .contact-input {
        padding-top: 5px;
    }

    .contact-form-button {
        margin-top: 10px;
    }

    .header, .home-container, .about-outer-container, .skills-outer-container, .projects-container, .contact-container, .footer-container {
        width: 100%;
    }

}